{% extends 'base.html.twig' %}

{% block title %}Appartement index{% endblock %}

{% block body %}
    <h1>Appartement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lien_image</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td>{{ appartement.id }}</td>
                <td>{{ appartement.Titre }}</td>
                <td>{{ appartement.description }}</td>
                <td>{{ appartement.LienImage }}</td>
                <td>{{ appartement.prix }}</td>
                <td>
                    <a href="{{ path('app_appartement_show', {'id': appartement.id}) }}">show</a>
                    <a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appartement_new') }}">Create new</a>
{% endblock %}
